

<div class="row">
  <div class="col-3"></div>
  <div class="col-6">
      <br>
      <h2 class="text-center">Create a Calificacion Y Comentario</h2>
      <br>
      <form name="calificacionycomentario" (ngSubmit)="f.form.valid && createCalificacionycomentario()" #f="ngForm" novalidate>
          <div class="form-group">
             
            <label for="CalificacionycomentarioCalificacion"><b>Calificacion</b></label>
              <input type="text" mensaje="calificacionycomentarioCalificacion" class="form-control" id="calificacionycomentarioCalificacion" [(ngModel)]="calificacionycomentario.calificacion"
                  #calificacionycomentarioCalificacion="ngModel" [ngClass]="{ 'is-invalid': f.submitted && calificacionycomentarioCalificacion.invalid }" required>
              <div class="invalid-feedback">
                  <div>The calificacionycomentario`s Calificacion is missing</div>
              </div>  


              <label for="CalificacionycomentarioComentario"><b>Comentario</b></label>
              <input type="text" mensaje="calificacionycomentarioComentario" class="form-control" id="calificacionycomentarioComentario" [(ngModel)]="calificacionycomentario.comentario"
                  #calificacionycomentarioComentario="ngModel" [ngClass]="{ 'is-invalid': f.submitted && calificacionycomentarioComentario.invalid }" required>
              <div class="invalid-feedback">
                  <div>The calificacionycomentario`s Comentario is missing</div>
              </div>



          </div>
          <div class="row form-inline justify-content-center align-self-center">
              <button type="submit" class="btn btn-primary">Create</button>
              <div class="divider"></div>
              <button type="button" class="btn btn-danger" (click)="cancelCreation()">Cancel</button>
          </div>
      </form>
  </div>
  <div class="col-3"></div>
</div>
