
<div class="row">
  <div class="col-3"></div>
  <div class="col-6">
      <br>
      <h2 class="text-center">Create a Cocina</h2>
      <br>
      <form name="cocina" (ngSubmit)="f.form.valid && createCocina()" #f="ngForm" novalidate>
         
      
            <div class="input-group mb-3">         
           
               <input type="text" placeholder="Dirección" name="usuarioLogin" class="form-control" id="usuarioLogin"
                [(ngModel)]="cocina.direccion" #usuarioLogin="ngModel"
                [ngClass]="{ 'is-invalid': f.submitted && usuarioLogin.invalid }" required>
               <div class="invalid-feedback">
                <div>Debes ingresar una dirección</div>
              </div>
             

          </div>
          <div class="row form-inline justify-content-center align-self-center">
              <button type="submit" class="btn btn-primary">Create</button>
              <div class="divider"></div>
              <button type="button" class="btn btn-danger" (click)="cancelCreation()">Cancel</button>
          </div>
      </form>
  </div>
  <div class="col-3"></div>
</div>