<div class="container-fluid">
    <div class="col">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Comida id</th>    
                </tr>
            </thead>
            <tbody>
                
                   <tr *ngFor = "let c of comidas">
                    <td>{{c.id}}</td>
                    <td>{{c.tipo}}</td>
                    <td>{{c.alimentosYCantidades}}</td>

                  
                </tr>
            </tbody>
        </table>
    </div>
    <app-comida-crear></app-comida-crear>