<div>
    <div class="container-fluid listar-component">
        <div class="row">
            <div class="col col-sm-3">
            </div>
            <div class="col col-sm-6 col-centered">
                <table class="table table-striped responsive">
                    <thead class="thead-dark">
                        <tr>
                            <th>Comida id</th>
                            <th>Tipo</th>
                            <th>Alimentos sus respectivas cantidades</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let c of comidas">
                            <td>{{c.id}}</td>
                            <td>{{c.tipo}}</td>
                            <td>{{c.alimentosYCantidades}}</td>
                            <td>
                                <button *ngxPermissionsOnly="['ADMIN']" type="col button"
                                    class=" button btn btn-primary btn-lg btn-block"
                                    [ngClass]="{'btn-primary' : !mostrarEditar, 'btn-danger':mostrarEditar}"
                                    (click)="mostrarEditarM(c.id)"><span class="fa fa-pencil"></span></button>
                            </td>


                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col col-sm-3">
        </div>
    </div>

    <div class="row">
        <div class="col col-sm-4">
        </div>
        <div class="col-sm-4 col-centered">

            <button *ngxPermissionsOnly="['ADMIN']" type="col button" class="btn btn-primary btn-lg btn-block"
                [ngClass]="{'btn-primary' : !mostrarCrear, 'btn-danger':mostrarCrear}" (click)="mostrarCrearM()">Añadir
                Comida</button>
        </div>
        <div class="col col-sm-5">
        </div>
    </div>
    <div class="row ">

        <div class="col col-sm-5 margins">
            <div *ngIf="mostrarCrear">

                <app-comida-crear (cancel)="mostrarCrearM()" (create)="ngOnInit()"></app-comida-crear>

            </div>
        </div>
        <div class="col col-sm-5 margins">
            <div *ngIf="mostrarEditar">

                <app-comida-editar [comida_id]="comida_id" (cancel)="mostrarEditarM()" (update)="ngOnInit()">
                </app-comida-editar>

            </div>
        </div>


    </div>

</div>