 
<div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <br>
            <h2 class="text-center">Create a Dieta</h2>
            <br>
            <form name="dieta" (ngSubmit)="f.form.valid && createDieta()" #f="ngForm" novalidate>
                
                
                <div class="form-group"> 
                  <label for="DietaNombre"><b>Nombre</b></label>
                    <input type="text" name="dietaNombre" class="form-control" id="dietaNombre" [(ngModel)]="dieta.nombre"
                        #dietaNombre="ngModel" [ngClass]="{ 'is-invalid': f.submitted && dietaNombre.invalid }" required>
                    <div class="invalid-feedback">
                        <div>The dieta´s Nombre is missing</div>
                    </div>
                </div>
                    <div class="form-group"> 
                            <label for="DietaTipo"><b>Tipo</b></label>
                              <input type="text" name="dietaTipo" class="form-control" id="dietaTipo" [(ngModel)]="dieta.tipo"
                                  #dietaTipo="ngModel" [ngClass]="{ 'is-invalid': f.submitted && dietaTipo.invalid }" required>
                              <div class="invalid-feedback">
                                  <div>The dieta´s Tipo is missing</div>
                              </div>  
                             </div>
                <div class="form-group"> 
                            <label for="DietaObjetivo"><b>Objetivo</b></label>
                              <input type="text" name="dietaObjetivo" class="form-control" id="dietaObjetivo" [(ngModel)]="dieta.objetivo"
                                  #dietaObjetivo="ngModel" [ngClass]="{ 'is-invalid': f.submitted && dietaObjetivo.invalid }" required>
                              <div class="invalid-feedback">
                                  <div>The dieta´s Objetivo is missing</div>
                              </div>  
                             </div>
                <div class="form-group"> 
                             <label for="DietaDiasSuspendida"><b>Dias Suspendida</b></label>
                              <input type="text" name="dietaDiasSuspendida" class="form-control" id="dietaDiasSuspendida" [(ngModel)]="dieta.diasSuspendida"
                                   #dietaDiasSuspendida="ngModel" [ngClass]="{ 'is-invalid': f.submitted && dietaDiasSuspendida.invalid }" required>
                                   <div class="invalid-feedback">
                                 <div>The dieta´s DiasSuspendida is missing</div>
                             </div>  
                            </div>
                             
                             


                <div class="row form-inline justify-content-center align-self-center">
                    <button type="submit" class="btn btn-primary">Create</button>
                    <div class="divider"></div>
                    <button type="button" class="btn btn-danger" (click)="cancelCreation()">Cancel</button>
                </div>
            </form>
        </div>
        <div class="col-3"></div>
      </div>