<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="tabla.css">
</head>
<body>
	<div id="main-container">

		<table>
			<thead>
       
      	<tr>
					<th>Personas</th>
        
				</tr>
			</thead>
      <tr>
					<th>Id</th>
          <th>Name</th>
        
				</tr>  
			<tr *ngFor= "let c of personas">
				<td>{{c.id}}</td>
        	<td style="cursor: pointer;">
				<a class="figure-caption" [routerLink]="['/personas', { outlets: { 'detail': [c.id] } }]">{{c.name}}</a>
				</td>
     
			</tr>
		
		</table>
	</div>
</body>
</html>