
<div class="container-fluid">
    <div class="col">
        <table class="table table-striped responsive">
            <thead class="thead-dark">
                <tr>
                    <th>Nombre</th>   <th>fechaIngreso</th>  <th>Tiempo Esperado Mejora</th> <th>Obejtivos</th> 
                </tr>
            </thead>
            <tbody>
                
                   <tr *ngFor = "let p of personas">
                    
								<td>{{p.nombre}}</td>
								<td>{{p.fechaIngreso}}</td>
								<td>{{p.tiempoEsperadoMejora}} Días</td>
								<td>{{p.obejtivos}}</td>

                </tr>
            </tbody>
        </table>
    </div>

