.brown-background{
    background-image: url("https://i.pinimg.com/originals/ec/c7/a4/ecc7a4f021aab13bf5197543d291adf7.jpg");
    background-size: cover;
}

.gray-background{
    background-color: gray;
}


.white-tex{
    color: white;
}

.padding{
    padding: 15px;
}

.white-text{
 color: white;
}

