<!DOCTYPE html>
<html>
        <head>
                <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
              </head>
              
              <body>
              <div>
              <h2>Ingresar ID</h2>
              
              
              <table class="table table-striped">
              <thead>
              <tr>
              <th>ID</th>
              </tr>
              </thead>
              <tbody>
              <tr >
              <td>
              <input type="number"#id (focusout) = "focusoutHandler(id)" class="input-small">
              </td>
              </tr>
              <tr>
              <td>
              <button class="btn btn-success" (click)="Ingresar()">Ingresar</button>
              </td>
              </tr>
              <tbody>
              </table>
              </div>
              </body>

              <div *ngIf="selectedPersona.id">
           <!--        <app-persona-detail [fotos2]="selectedPersona.fotos" [calificaciones]="selectedPersona.calificaciones" [quejasYReclamos]="selectedPersona.quejas" 
                     [pagos]="selectedPersona.pagos" [dietas]="selectedPersona.dietas" [persona_id]= "personas_id" > </app-persona-detail>--> </div>
</html>