.texto-nav  {
    font-family: "Times New Roman", Times, serif;
    font-size: 130%;
    
}

.textoHead-nav  {
    font-family: "Times New Roman", Times, serif;
    font-size: 200px;
    font-weight: bold;

}

.nav-bar-color{
  background-color: lightcoral;
}


#lg {
  width: 100%;
  margin:0;
  padding:0;
}

.texto-grande{
  background-color: antiquewhite;
  padding: 20px ;
  font-family: serif;
  margin: 0px;

}
.nomargin{
margin:0;
}


#footer{
  background-color: antiquewhite;
}



