.texto-nav  {
    font-family: "Times New Roman", Times, serif;
    font-size: 130%;
    
}

.textoHead-nav  {
    font-family: "Times New Roman", Times, serif;
    font-size: 200px;
    font-weight: bold;

}

.nav-bar-color{
  background-color: lightcoral;
}


#lg {
  width: 100%;
  margin:0;
  padding:0;
}

.texto-grande{
  background-color: antiquewhite;
  padding: 20px ;
  font-family: serif;
  margin: 0px;

}
.nomargin{
margin:0;
}
.nopadding{
  padding:0;
}


#footer{
  background-color: antiquewhite;
}


.descripcion{
  background-image: url("https://png.pngtree.com/thumb_back/fw800/back_pic/03/61/49/7657a74e84f3672.jpg");
  color: white;
  margin:0;
}
.mainBackground{
  background-image: url("shttps://png.pngtree.com/thumb_back/fw800/back_pic/04/00/85/9357ff2fc21175b.jpg");
  background-size: cover;
}

.letra{
  font-family: Bookman, URW Bookman L, serif;
  font-size: 25px;
}

.letra-nav-bar{
  font-family: Bookman, URW Bookman L, serif;
  font-weight: bolder;
  font-size: 25px;
}

