.texto-nav  {
    font-family: "Times New Roman", Times, serif;
    font-size: 130%;
    
}

.textoHead-nav  {
    font-family: "Times New Roman", Times, serif;
    font-size: 200px;
    font-weight: bold;

}