<div >
        <div>
            <h2 class="text-center">Edit a Hall</h2>
            <form name="hall" (ngSubmit)="f.form.valid && editHalloffame()" #f="ngForm" novalidate>
                  <div class="form-group">
                    <label for="hallMensaje"><b>Mensaje</b></label>
                    <input type="text" name="hallMensaje" class="form-control" id="hallMensaje" [(ngModel)]="halloffame.mensaje"
                           #hallMensaje="ngModel" [ngClass]="{ 'is-invalid': f.submitted && hallMensaje.invalid }" required>
                           <div class="invalid-feedback">
                        <div>The hall's mesaje is missing</div>
                    </div>
                </div>
                <!--
                <div class="form-group">
                    <label for="hallId"><b>Id</b></label>
                    <input type="text" name="hallId" class="form-control" id="hallId" [(ngModel)]="halloffame.id"
                           #hallId="ngModel" [ngClass]="{ 'is-invalid': f.submitted && hallId.invalid }" required>
                           <div class="invalid-feedback">
                        <div>The hall's id is missing</div>
                    </div>
                </div>
                 -->
                <div class="row form-inline justify-content-center align-self-center">
                
                    <button type="submit" class="btn btn-primary" (click)="editHalloffame()">Guardar</button>
                    <div class="divider"></div>
                    <button type="button" class="btn btn-danger" (click)="cancelEdition()">Cancel</button>
                
                </div>
                </form>
        </div>
    </div>
    <!--<app-halloffame-create ></app-halloffame-create>-->
    
    <!--<button routerLink="/halls/edit" *ngxPermissionsOnly="['ADMIN']">Editar Hall</button>-->