<div class="container-fluid"  id="lg">
    <div id="carouselExampleIndicators" class="carousel slide" style=" width:100%; height: 100% !important;"
        data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox" style=" width:100%; height: 700px !important;">

            <div class="carousel-item active" style="object-fit: cover; width:100%;">
                <img class="d-block mw-100 bg-primary" style="object-fit: cover; width:100%;"
                    src="http://www.howtobefit.com/pics/sean-lowe-bachelor.jpg" alt="First slide">
            </div>

            <div *ngFor="let f of fotos" class="carousel-item" style="object-fit: cover; width:100%;">
                <img class="d-block mw-100   bg-primary" style="object-fit: cover; width:100%;" src={{f.url}}
                    alt="Second slide">
            </div>

        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div *ngIf="!mostrarCrear">
        <button *ngxPermissionsOnly="['ADMIN']" type="col button" class="btn btn-primary btn-lg btn-block"
            [ngClass]="{'btn-primary' : !mostrarCrear, 'btn-danger':mostrarCrear}" (click)="mostrarCrearM()">Añadir
            Foto</button>
    </div>
    <div>
        <div *ngIf="mostrarCrear">

            <app-foto-crear (cancel)="mostrarCrearM()" (create)="ngOnInit()"></app-foto-crear>

        </div>

        <button *ngxPermissionsOnly="['ADMIN']" type="button" class=" button btn btn-danger btn-lg btn-block"
            [ngClass]="{'btn-primary' : !mostrarEditar, 'btn-danger':mostrarEditar}" (click)="mostrarEditarM()">Editar
            Foto</button>
        <div *ngIf="mostrarEditar">

            <app-foto-editar (cancel)="mostrarEditarM()" (create)="ngOnInit()"></app-foto-editar>

        </div>
    </div>
</div>