/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30-mar-2019, 21:15:07
    Author     : estudiante
*/

#lg{
    margin: 0;
    padding: 0;
}

.button {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    background-color: firebrick;
  }
  
  .button:hover {
    background-color: darkred; /* Green */
    color: white;
  }
