
	<div id="main-container">
		<table class="table table-striped">
			<thead class="thead-dark">
				<tr>
					<th>{{personaDetail.name}}</th>
        
				</tr>
			</thead>
			<tr>
				<td>Tipo</td>
				<td>{{personaDetail.tipo}}</td>
			</tr>
			<tr>
				<td>FechaIngreso</td>
				<td>{{personaDetail.fechaingreso}}</td>
			</tr>
			<tr>
				<td>Objetivos</td>
				<td>{{personaDetail.objetivos}}</td>
			</tr>
			<tr>
				<td>TiempoEsperadoMejora</td>
				<td>{{personaDetail.tiempoEsperadoMejora}} dias</td>
			</tr>
			<tr>
				<td>SolicitudEspecial</td>
				<td>{{personaDetail.solicitudEspecial}}</td>
			</tr>
			<tr>
				<td>TarjetaFidelidad</td>
				<td>{{personaDetail.tarjetaFidelidad}}</td>
			</tr>
		</table>
	</div>
