<div class="container-fluid">
    <div class="col">
        <table class="table table-striped responsive">
            <thead class="thead-dark">
                <tr>
                    <th>Hall id</th>   <th>Hall mensaje</th>   
                </tr>
            </thead>
            <tbody>
                
                   <tr *ngFor = "let h of halls">
                    <td style="cursor: pointer;">
						        	<a class="figure-caption" (click)="onSelected(h.id)">{{h.id}}</a>
                                </td>
                                <td>{{h.mensaje}}</td>


                </tr>
            </tbody>
        </table>
    </div>

	<div class="border row">
		<div class="col">
			<div *ngIf="selectedHall.id">
				<app-halloffame-detail [personas]="selectedHall.personas"> </app-halloffame-detail>
			</div>
		</div>
	</div>
</div>
<button routerLink="/halls/add">Añadir Hall</button>
<!--<app-halloffame-create></app-halloffame-create>-->
<!--<app-halloffame-editar></app-halloffame-editar>-->
<button routerLink="/halls/edit">Editar Hall</button>

