<div>

  <h2 class="text-center">Edit a Dia</h2>
  <form name="dia" (ngSubmit)="f.form.valid && editDia()" #f="ngForm" novalidate>
    <div class="form-group">
      <label for="diaEspecial"><b>DiaEspecial</b></label>
      <input type="text" name="diaEspecial" class="form-control" id="diaEspecial" [(ngModel)]="dia.diaEspecial"
        #diaEspecial="ngModel" [ngClass]="{ 'is-invalid': f.submitted && diaEspecial.invalid }" required>
      <div class="invalid-feedback">
        <div>The dia type is missing</div>
      </div>
    </div>
  </form>
  <div class="row form-inline justify-content-center align-self-center">


    <button type="button" class="btn btn-primary" (click)="editDia()">Guardar</button>

    <button type="button" class="btn btn-success" (click)="cancelEdition()">Cancel</button>

  </div>
</div>