#main-container{
}

table{
	background-color: white;
	text-align: center;
	border-collapse: collapse;
	width: 100%;
}

thead{
	background-color: #0d071b;
	border-bottom: solid 5px rgb(30, 9, 124);
	color: white;
}

tr:nth-child(even){
	background-color: rgb(38, 197, 189);
}