<div class="container-fluid">
        <div class="col-md-2">
        <table class="table table striped">
        <thead class="thead dark">
          <tr>
          <th> Pago  </th>
          </tr>
          </thead>
          <tbody>
           <tr>
           <th>Id</th>
           <th>Modo de pago</th>
           </tr>
          <tr *ngFor="let p of pagos">
          <td> {{p.id}} </td>
          <td> {{p.modoPago}} </td>
          </tr>  
          </tbody>
          </table>
          </div>
    </div>
    
    <!--
    <app-pago-create></app-pago-create>
    <app-pago-edit></app-pago-edit>
    -->

    <div class="row">
      
        <div *ngxPermissionsOnly="['ADMIN']" class="col-sm-4 col-centered">
          <button type= "col button" class="btn btn-primary"
          [ngClass]="{'btn-primary' : !mostrarCrear, 'btn-danger':mostrarCrear}" (click)="mostrarCrearM()">Añadir Pago</button>
              <div *ngIf="mostrarCrear">
                  <app-pago-create (cancel)="mostrarCrearM()" (create)="ngOnInit()"></app-pago-create>
              </div>
        </div>   
    </div>
  

    <div class="row">
      
        <div *ngxPermissionsOnly="['ADMIN']" class="col-sm-4 col-centered">
          <button type= "col button" class="btn btn-primary"
          [ngClass]="{'btn-primary' : !mostrarEditar, 'btn-danger':mostrarEditar}" (click)="mostrarEditarM()">Editar Pago</button>
              <div *ngIf="mostrarEditar">
                  <app-pago-edit (cancel)="mostrarEditarM()" (create)="ngOnInit()"></app-pago-edit>
              </div>
        </div>   
    </div>
   

    