<div class="container-fluid">
    <div class="col">
        <table class="table table-striped responsive">
            <thead class="thead-dark">
                    <tr>
                      <th> Dieta  </th>
                       </tr>
                   <tr>
                    <th>Id</th>   
                    <th>Name</th>   
                    <th>Tipo</th>
                    <th>Objetivos</th>   
                    <th>Días Suspendida</th> 
                </tr>
            </thead>
            <tbody>
                
                   <tr *ngFor = "let d of dietas">
                    <td style="cursor: pointer;">
						        	<a class="figure-caption" (click)="onSelected(d.id)">{{d.id}}</a>
                                </td>                                
                                <td>{{d.nombre}}</td>
                                <td>{{d.tipo}}</td>
                                <td>{{d.objetivo}}</td>
                                <td>{{d.diasSuspendida}}</td>
                                <td>
                                        <button *ngxPermissionsOnly="['ADMIN']" type="col button"
                                        class=" button btn btn-primary btn-lg btn-block"
                                        [ngClass]="{'btn-primary' : !mostrarEditar, 'btn-danger':mostrarEditar}"
                                        (click)="mostrarEditarM(d.id)">Editar</button>
                                </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="selectedDieta.id">
            <app-dieta-detail [suspensiones]="selectedDieta.suspensiones" [semanas]="selectedDieta.semanas"> </app-dieta-detail>
    
    <div class="row">
            <div class="col-sm-4 col-centered">
                <button *ngxPermissionsOnly="['ADMIN']" type="col button" class="btn btn-primary btn-lg btn-block"
                    [ngClass]="{'btn-primary' : !mostrarCrear, 'btn-danger':mostrarCrear}" (click)="mostrarCrearM()">Añadir
                    Dieta</button>
                <div *ngIf="mostrarCrear">
        
                    <app-dieta-create (cancel)="mostrarCrearM()" (create)="ngOnInit()"></app-dieta-create>
        
                </div>
            </div>
    </div>
    
    <div class="row">
            <div class="col-sm-4 col-centered">
                <div *ngIf="mostrarEditar">
            
                    <app-dieta-edit [dieta_id]="dietas_id" (cancel)="mostrarEditarM()" (editar)="ngOnInit()">
                    </app-dieta-edit>
            
                </div>
            </div>
    </div>
            
    

	